.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F4F4F4;
  color: #21155C;
  font-family: 'Poppins', sans-serif;
  max-width: 1680px;
  -webkit-perspective: -8000px;
          perspective: -8000px;
}

body.noscroll {
  overflow: hidden;
}

a {
  opacity: 0.9;
  color: #21155C;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

button:hover, input[type="submit"]:hover {
  opacity: 95%;
  cursor: pointer;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 15px 15px rgba(72, 19, 159, 0.1);
          box-shadow: 0 15px 15px rgba(72, 19, 159, 0.1);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.wrapper {
  padding: 1.5em 1.5em;
  padding-bottom: 0;
  margin: 0 auto;
  max-width: 1200px;
}

.wrapper-background {
  background-image: url(../images/Gears.svg), url(../images/puzzle.svg);
  background-repeat: no-repeat;
  background-position: 95% 20%, 0% 108%;
  background-size: 20%, 40%;
  background-clip: padding-box;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 3em;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 2.5em;
}

h2::before {
  display: block;
  width: 2em;
  height: .05em;
  content: "";
  position: relative;
  top: 1.5em;
  left: 15%;
  background-color: #BF23FF;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 1.5em;
}

p {
  opacity: 0.7;
  font-size: 0.8em;
  line-height: 1.6em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo img {
  margin-top: -0.625rem;
  width: 9.86rem;
  height: 3.08rem;
}

header .logo :hover {
  opacity: 80%;
  cursor: pointer;
  -webkit-transform: translateY(-0.9px);
          transform: translateY(-0.9px);
}

.nav ul {
  display: none;
}

.nav.open .toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav.open .toggle > span:nth-child(2) {
  opacity: 0;
}

.nav.open .toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav .overlay {
  position: fixed;
  top: 4.2rem;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#23005c), to(transparent));
  background-image: linear-gradient(#23005c, transparent);
}

.nav .toggle > span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #48139F;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.nav .toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.nav .menu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  margin-top: 3rem;
  padding: 1.625rem;
  border-radius: 5px;
  z-index: 1;
}

.nav .menu a {
  display: block;
  padding: 0.625rem;
  color: #21155C;
  text-align: center;
  font-size: smaller;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-content img {
  display: none;
}

.hero-content .hero-text {
  margin-top: 1em;
  margin-bottom: 6em;
}

.hero-content .hero-text p {
  margin-bottom: 2em;
}

.hero-content .hero-text .work-button {
  width: 14em;
  height: 3.8em;
  border: 0;
  border-radius: 2em;
  background-color: #7420FF;
  color: white;
  font-size: .6em;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

.hero-content .hero-text .contact-button {
  width: 14em;
  height: 3.8em;
  border-radius: 2em;
  margin: 0 .5em;
  font-size: .6em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  color: #21155C;
  border: 1px solid #21155C;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

.about-wrapper {
  background-color: #48139F;
  color: white;
}

.about-wrapper .about-content {
  position: relative;
  padding-bottom: 43em;
}

.about-wrapper .about-content .about-text {
  position: absolute;
}

.about-wrapper .about-content .about-text h2 {
  margin: .4em 0 7em;
}

.about-wrapper .about-content .about-text p {
  line-height: 1.8em;
}

.about-wrapper .about-content .about-image {
  position: absolute;
  margin-top: 6.5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-wrapper .about-content .distortion {
  width: 200px;
  height: 200px;
}

.skills-wrapper {
  margin-top: -7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../images/underAbout.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center -4%;
  background-color: #EDEDED;
  padding-bottom: 1.5em;
}

.skills-wrapper .skills1 {
  margin-top: -1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.skills-wrapper .skills2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.skills-wrapper img {
  width: 75px;
}

.skills-wrapper li {
  min-width: 180px;
  padding: 0.5em;
  text-align: center;
}

.skills-wrapper p {
  font-size: 0.7em;
  padding: 0 1em;
  margin-bottom: 1.6em;
}

.skills-wrapper h4 {
  margin: 0.8em 0 0.5em;
  font-size: 0.9em;
  font-weight: 600;
}

.work-wrapper {
  margin: -1.5em 0 3em;
}

.work-wrapper .work-container {
  margin: 6em 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.work-wrapper .work-container .work-list {
  background-color: white;
  border-radius: 1em;
  -webkit-box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
          box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  width: 100%;
  margin: 0 0 5em;
}

.work-wrapper .work-container .work-list :last-child {
  margin-bottom: 0;
}

.work-wrapper .work-container .work-description {
  padding: 0em 2em 2em;
  text-align: center;
}

.work-wrapper .work-container .work-description h3 {
  margin-bottom: 1em;
}

.work-wrapper .work-container .work-description p {
  color: #767DA9;
  margin-bottom: 3em;
}

.work-wrapper .work-container .work-description .project-button {
  width: 14em;
  height: 3.8em;
  border: 0;
  border-radius: 2em;
  background: linear-gradient(135deg, #8254e5, #83afe3 150%);
  font-size: .6em;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.1));
  position: relative;
  z-index: 300;
}

.work-wrapper .work-container .work-description .project-button a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.work-wrapper .work-container .work-image {
  background: url(../images/bgWork.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1em 1em 0 0;
  padding-bottom: 25em;
  position: relative;
}

.work-wrapper .work-container .work-image :hover {
  background-color: rgba(0, 0, 0, 0.08);
  -webkit-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}

.work-wrapper .work-container .work-image a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.work-wrapper .work-container .tictactoe .work-image {
  background-image: url(../images/TictactoeImage.png);
  background-position: center;
}

.work-wrapper .work-container .tictactoe .project-button {
  background: linear-gradient(135deg, #F08080, #F8DCC4 150%);
}

.contact-wrapper {
  background-color: #48139F;
  background-image: url(../images/bgContact.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5em;
  background-position: 55%;
}

.contact-wrapper h2 {
  color: white;
  margin-top: .4em;
}

.contact-wrapper .contact-info {
  text-align: center;
}

.contact-wrapper .contact-info .card {
  color: white;
  display: inline-block;
  padding: 1em 2em 3em;
  text-align: left;
  border-radius: 1.2em;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
          box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  border: solid 2px transparent;
  background-clip: padding-box;
  width: 80%;
}

.contact-wrapper .contact-info .card .contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-wrapper .contact-info .card .contact-links #gitLogo {
  width: 2.7em;
  margin-right: .5em;
}

.contact-wrapper .contact-info .card .contact-links #linkedinLogo {
  width: 2em;
  margin-top: 0.4em;
}

.contact-wrapper .contact-info .card .success-message {
  display: none;
}

.contact-wrapper .contact-info .card form .inside-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-wrapper .contact-info .card form .inside-form label {
  font-size: smaller;
}

.contact-wrapper .contact-info .card form .inside-form input[type=text] {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: none;
  background-clip: padding-box;
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: .5em;
  margin: 0 0 1.4em;
}

.contact-wrapper .contact-info .card form .inside-form ::-webkit-input-placeholder {
  color: #d6d6d6;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: smaller;
}

.contact-wrapper .contact-info .card form .inside-form :-ms-input-placeholder {
  color: #d6d6d6;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: smaller;
}

.contact-wrapper .contact-info .card form .inside-form ::-ms-input-placeholder {
  color: #d6d6d6;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: smaller;
}

.contact-wrapper .contact-info .card form .inside-form ::placeholder {
  color: #d6d6d6;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: smaller;
}

.contact-wrapper .contact-info .card form .inside-form input, .contact-wrapper .contact-info .card form .inside-form select, .contact-wrapper .contact-info .card form .inside-form textarea {
  color: #d6d6d6;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: smaller;
  width: 100%;
}

.contact-wrapper .contact-info .card form .inside-form #message {
  height: 6em;
  padding-bottom: 4em;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: none;
  background-clip: padding-box;
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: .5em;
  margin: 0 0 1.4em;
}

.contact-wrapper .contact-info .card form .inside-form input[type=submit] {
  width: 14em;
  height: 3.2em;
  border: 0;
  border-radius: 2em;
  background-color: #7420FF;
  color: white;
  font-size: .8em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 1.5em;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 400px) {
  .skills-wrapper {
    background-position: center -5.1%;
  }
}

@media screen and (min-width: 455px) {
  .wrapper-background {
    background-position: 75% 20%, 0% 108%;
    background-size: 15%, 30%;
  }
  .hero-content .hero-text .contact-button {
    margin: 0 3em;
  }
  .about-wrapper .about-content {
    padding-bottom: 38em;
  }
  .skills-wrapper {
    background-position: center -6%;
  }
  .skills-wrapper .skills1 {
    margin-top: -2em;
  }
  .skills-wrapper .skills2 {
    padding-left: 1.9em;
  }
  .skills-wrapper li {
    padding: 1em;
  }
  .skills-wrapper li #problem-solving {
    padding: 0;
  }
}

@media screen and (min-width: 555px) {
  h2::before {
    left: 10%;
  }
  .wrapper-background {
    background-position: 60% 20%, 0% 108%;
    background-size: 15%, 25%;
  }
  .hero-content .hero-text p {
    padding-right: 7em;
  }
  .about-wrapper .about-content {
    padding-bottom: 35em;
  }
  .skills-wrapper {
    background-position: center -7%;
  }
  .skills-wrapper .skills2 {
    padding-left: 2.5em;
  }
  .skills-wrapper li {
    padding: 1em 2.5em;
  }
}

@media screen and (min-width: 655px) {
  h2::before {
    left: 8%;
  }
  .wrapper {
    padding: 1.5em 2.5em;
  }
  .about-wrapper .about-content {
    padding-bottom: 35em;
  }
  .skills-wrapper {
    background-position: center -8.5%;
  }
  .skills-wrapper .skills2 {
    padding-left: 3.5em;
  }
}

@media screen and (min-width: 770px) {
  h2::before {
    left: 7%;
  }
  .wrapper-background {
    background-position: 45% 30%, 0% 108%;
    background-size: 10%, 24%;
  }
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav ul li a {
    padding: 0 1.6em;
    text-transform: uppercase;
    font-size: smaller;
    letter-spacing: 0.05em;
  }
  .nav ul :last-child {
    padding-right: 0;
  }
  .nav ul :hover {
    opacity: .6;
  }
  .nav .toggle {
    display: none;
  }
  .hero-content {
    margin: 3em 0 2em;
  }
  .hero-content .hero-image img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4em;
    width: 100%;
  }
  .about-wrapper .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 2em;
  }
  .about-wrapper .about-content .about-image {
    position: relative;
    margin-top: 5.8em;
  }
  .about-wrapper .about-content .about-text {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 2em;
  }
  .about-wrapper .about-content .about-text h2 {
    margin: 0 0 1em;
  }
  .about-wrapper .about-content .about-text h2 ::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .skills-wrapper {
    background-position: center -22%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .skills-wrapper li {
    padding-right: 0.5em;
    padding-left: 0.5em;
  }
  .skills-wrapper .skills1 {
    padding: 0;
  }
  .skills-wrapper .skills1 li {
    padding-left: 0;
    padding-right: 0;
  }
  .skills-wrapper .skills1 li:first-child {
    padding-left: 0.3em;
  }
  .skills-wrapper .skills2 {
    margin-top: -1.8em;
    padding-left: 0;
    padding-right: 1.2em;
  }
  .skills-wrapper .skills2 p {
    padding: 0;
  }
  .work-wrapper .work-container .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .work-wrapper .work-container .work-list .work-image {
    border-radius: 0em 1em 1em 0;
    width: 100%;
    padding-left: 21em;
  }
  .work-wrapper .work-container .work-list .work-description {
    padding: 4em 3em 4em;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 340px;
  }
  .work-wrapper .work-container .work-list .work-description h3 {
    margin-top: 0;
  }
  .work-wrapper .work-container .work-list .work-description .project-button {
    margin-top: 3.5em;
    width: 18em;
    height: 4.2em;
    font-size: 0.8;
  }
  .work-wrapper .work-container .agency-work {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .work-wrapper .work-container .tictactoe .work-image {
    border-radius: 1em 0 0 1em;
  }
}

@media screen and (min-width: 850px) {
  .about-wrapper .about-content .about-image {
    margin-top: 5em;
  }
  .about-wrapper .about-content .about-text {
    margin-top: 1.5em;
  }
  .skills-wrapper {
    background-position: center -26%;
  }
  .skills-wrapper .skills1 {
    margin-top: -1.4em;
  }
  .skills-wrapper .skills1 li p {
    padding: 0 2em;
  }
  .skills-wrapper .skills2 {
    padding-right: 2em;
    margin-top: -1.4em;
  }
  .skills-wrapper .skills2 li {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  .contact-wrapper .contact-info .card form .inside-form label {
    margin-bottom: .8em;
  }
  .contact-wrapper .contact-info .card form .inside-form #message {
    height: 10em;
    padding-bottom: 7em;
  }
  .contact-wrapper .contact-info .card form .inside-form .name-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1em;
  }
  .contact-wrapper .contact-info .card form .inside-form .name-email .name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    padding-right: 2em;
  }
  .contact-wrapper .contact-info .card form .inside-form .name-email .email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    padding-left: 2em;
  }
  .contact-wrapper .contact-info .card form .inside-form .name-email input, .contact-wrapper .contact-info .card form .inside-form .name-email select, .contact-wrapper .contact-info .card form .inside-form .name-email textarea {
    width: 100%;
  }
}

@media screen and (min-width: 950px) {
  h2::before {
    left: 6%;
  }
  .wrapper {
    padding: 1.5em 3.5em;
  }
  .wrapper-background {
    background-position: 35% 30%, 0% 108%;
    background-size: 7%, 22%;
  }
  .hero-content .hero-text p {
    padding-right: 12em;
  }
  .hero-content .hero-image img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 3em;
    width: 100%;
  }
  .skills-wrapper {
    background-position: center -32%;
  }
  .contact-wrapper .contact-info .card {
    width: 75%;
  }
}

@media screen and (min-width: 1060px) {
  .wrapper {
    padding: 1.5em 5em;
  }
  .wrapper-background {
    background-position: 33% 30%, 0% 108%;
    background-size: 7%, 20%;
  }
  .hero-content {
    margin: 4em 0 3em;
  }
  .hero-content .hero-image img {
    margin-top: 2em;
  }
  .about-wrapper .about-content .about-image {
    margin-top: 4em;
  }
  .about-wrapper .about-content .distortion {
    width: 250px;
    height: 250px;
  }
  .skills-wrapper {
    background-position: center -30%;
    padding: 0 5em 2em;
  }
  .skills-wrapper .skills1 {
    margin-top: -1em;
  }
  .skills-wrapper .skills1 li p {
    padding: 0 3em;
  }
  .skills-wrapper .skills2 {
    margin-top: -1em;
    padding-right: 2.5em;
  }
  .skills-wrapper .skills2 li {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  .contact-wrapper .contact-info .card {
    width: 70%;
  }
}

@media screen and (min-width: 1150px) {
  .wrapper {
    padding: 1.5em 7em;
  }
  .hero-content {
    margin: 5em 0 4em;
  }
  .hero-content .hero-image img {
    margin-top: 2em;
  }
  .skills-wrapper {
    background-position: center -48%;
    padding: 0 6em;
  }
}

@media screen and (min-width: 1260px) {
  .wrapper {
    padding: 1.5em 8em;
  }
  .wrapper-background {
    background-position: 33% 30%, 0% 108%;
    background-size: 6%, 18%;
  }
  .hero-content {
    margin: 6em 0 5em;
  }
  .hero-content .hero-image img {
    margin-top: 1em;
  }
  .skills-wrapper {
    background-position: center -50%;
    padding: 0 7em;
  }
  .skills-wrapper .skills1 {
    margin-top: -.5em;
  }
  .skills-wrapper .skills2 {
    margin-top: -.5em;
  }
  .skills-wrapper .skills2 li {
    padding-left: 2em;
  }
}

@media screen and (min-width: 1350px) {
  .hero-content {
    margin: 6em 0 6em;
  }
  .hero-content .hero-image img {
    margin-top: 0em;
  }
  .skills-wrapper {
    background-position: center -52%;
    padding: 0 8em;
  }
  .skills-wrapper .skills1 {
    margin-top: -0.2em;
  }
  .skills-wrapper .skills2 {
    margin-top: -0.2em;
    padding-left: 1em;
  }
}

@media screen and (min-width: 1395px) {
  .wrapper-background {
    background-position: 45% 30%, 0% 108%;
    background-size: 6%, 18%;
  }
  .hero-content {
    margin: 6.5em 0 6.5em;
  }
  .skills-wrapper {
    background-position: center -58%;
    padding: 0 8em;
  }
  .skills-wrapper .skills2 {
    padding-left: 1em;
  }
}

@media screen and (min-width: 1414px) {
  .skills-wrapper {
    background-position: center -50%;
    padding-bottom: 2em;
  }
  .skills-wrapper .skills1 {
    margin-top: .5em;
  }
  .skills-wrapper .skills2 {
    margin-top: .5em;
  }
}

@media screen and (min-width: 1480px) {
  .skills-wrapper {
    background-position: center -50%;
  }
}

@media screen and (min-width: 1560px) {
  .skills-wrapper {
    background-position: center -55%;
  }
}

@media screen and (min-width: 1625px) {
  .skills-wrapper {
    background-position: center -60%;
  }
}
/*# sourceMappingURL=main.css.map */